
.container{
  margin: 12.5px auto;
  margin-right:1%;
  margin-left:9%;
  max-width:1250px;
  
}
.responsive-image {
  max-width: 100%;
  
}
  .grid {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    max-width: 100%;
  } 
.cell img {
  display: inline-block;
  width:450px;
}
.cell{
  margin:5px;
  margin-top: -5px;
  max-width: 550px;
  
}
img {
  box-shadow: #b8f9f9;
  padding: 1px;
  margin-left:3px;
  max-width: 550px;
  height: auto;
  width: auto\9; 
}

/* desktop view */
@media screen and (min-width: 1000px) {
  .grid {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width:950px;
    
  } 
  .cell {
    width: calc(49% - 1rem)
    
  }
  .cell img {
    display: inline-block;
    height: auto;
    width: auto\9; 
  }
}
/* tablet view */
@media screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .cell {
    margin-left:3px;
    width: calc(29% -rem);
  }
  .cell img {
    display: inline-block;
    height: 900px;
  }
}
/* DIV.ctn {
  min-height: 150px;
  min-width: 150px;
  max-width: 550px;
  margin-top: 5px;
  padding:1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  overflow: auto; }
 */