html { 
/*   background: rgb(16,47,89);
  background: linear-gradient(356deg, rgba(16,47,89,1) 0%, rgba(33,119,129,1) 47%, rgba(47,161,161,0.7749474789915967) 100%); */
  background: #DD5E89;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

}

body{
  height: 100%;
  overflow: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
a:visited {
  color: #b8f9f9;
}

